
        /* css reset */
        * {
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        }
        body{
            /* background-color: #9DC6CA; */
        }
      
        /* navigation bar */
        nav h1{
            text-align: center;
            font-size: 24px;
        }
        #navbar {
            display: flex;
            position: relative;
            width: 100%;
            background-color: orange;
            text-align: center;
        }

        /* navigation bar: list style */
        #navbar ul {
            display: flex;
            margin: auto;
            text-align: left;
        }

        #navbar ul li {
            list-style: none;
            font-size: 22px;
            width: 140px;

        }

        #navbar a {
            display: block;
            color: black;
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            transition: all .3s ease-in-out .1s;
            text-shadow: rgb(235, 159, 159) 1px 2px 2px;
           
        }

        #navbar a:hover {
            color: white;
            text-decoration: underline;
        }

        #search {
            padding-right: 40px;
            padding-top: 10px;
        }

        #search input {
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            width: 200px;
        }


        /* slogen image section */
        /* Slideshow container */
.slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
    
  }  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: orange;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /* product image slide */

  
  .myslides img {
    vertical-align: middle;
    width: 400px;
    height: 460px;
    padding-top: 10px;
    
  }
  .demo,.cursor img{
      width: 35px;
      
  }
  
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } 
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 40px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    height: 35px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
       
    /*Shopping Categories    */

    .left{
        width:400px;
        height:370px;
        float: left;
    }
    .right{
        width: 680px;;
        height:370px;
        float: right;
    }
    .specification{
        padding-left: 35px;
        margin: 5px;
        font-size: 18px;
        word-spacing: 2px;
        line-height: 30px;
    }
        .shop-container{
        display: flex;
        flex-wrap: wrap;
        padding: 5px 100px;
         } 
       
        .categories-boxes{
         display: block;
         margin: 9px auto;        
         border: 1px solid black;
         padding: 0;
         width: 250px;
          height: 305px;   
          background-color: white;      
        }
        .categories-boxes img{
         display: block;
         margin: auto;
         width: 250px;
         height: 250px;
         border-radius: 25px;
        }
        
        .categories-btn{
            display: block;
            border: black;
            margin: auto;
            width: 230px;
            height: 44px;
            background-color: black;
            color: white;
            font-size:24px ;
            border-radius: 15px;
        }
        .categories-btn:hover{
         background-color: orange;
         color: black;
         font-size:26px ;
     }
        /* product css */
        .container{
            display: flex;
          }
        .item_container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
    
        }

        .left_container{
            width: 200px;
            border-right:  5px solid orange;;
        }
        .right_container{
            width: 1140px;
        }
       
          .product_container{
              height: 100%;
              width: 165px;
              display: flex;
              flex-direction: column;
             
          }
          .price_details {
            text-decoration: line-through;
        }
         
        
          .product-details{
              width: 165px;
              padding: 5px;
              
          }
        .product-items-filter-row{
            border-top: 2px solid orange;
            border-bottom: 2px solid orange;
            margin: 10px;
            padding: 10px 0px 0px 20px;
            height: 40px;
            width: 100%;

        
        }
        .heading{
            font-size: x-large;
            font-weight:bold;
        }
        .product-items-filter-row select{
            width: 250px;
            height: 30px;
            font-size: 18px;
            background-color: black;
            color: white;
      
        }
       
        /* Items Boxes */
        .boxes {

            margin: 10px;
            padding: 0px 10px;
            width: 1195px;
            height: 1020px;
            border-radius: 30px;
        }
        .prices {
            font-weight: bold;
        }

        
          .product-content{
            padding: 2px;
              
          }
  
          .product-content li{
              list-style: none;
          }
          .product-content a{
              font-size: 15px;
              color: black;
              text-decoration: none;
              transition: all .3s ease-in-out .1s;
          }
          .product-content a:hover{
              color: orange;
              padding: 10px;
              margin: 5px;           
          }
          .purchase_btn {
              border-radius: 15px;
              padding: 5px 15px;
              color: white;
              margin: 5px 0px 0px 68.735px;
              font-size: 18px;
              display: block;
              background-color: #000000;
          }
          .purchase_btn:hover{
              background-color:rgb(236, 108, 48);
          }
               /* Page No */
        .page-info{
            border: 2px solid orange;
            margin: 10px;
            padding: 5px;
            height: 40px;
            width: 100%;
        }
       
        .page-info ul{
            display: flex;
            list-style: none;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        
        .page-info a{
            display: block;
            text-decoration:none ;
            text-align: center;
            margin: 5px;
            width: 50px;
            padding: 5px;
            border: 1px solid orange;
            box-shadow: tomato 1px 2px 3px;
        }
        .page-info a:hover{
            color: white;
            background-color: black;
        }

       
          /* Fotter */
        footer {
            color: white;
            height: 535px;
            background-color: black;
            padding: 10px 0px;
            width: 100%;
          
        }
        /*Logo  */
        .logo{
            width: 1250px;
            height: 430px;
        }
         .a{
            float: left;
            width: 150px;
            height: 70px;
        }
        .b{
            height: 70px;
            width: 1100px;
            float: right;
        }
        .c{
            float: left;
            width: 150px;
            height: 340px;
        }
        .d{
            height: 340px;
            width: 350px;
            float: right;
        }
        .foot{
            margin-left: 50px;
        }
       footer img{
            width: 100px;
            height: 65px;
        }
        footer h3{
            font-size: x-large;
        }

        /* Utility classes */
       
        .btn {
            border-radius: 15px;
            padding: 5px 15px;
            color: white;
            font-size: 18px;
            background-color: #5bf34d;   
        }
        button a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bolder;
        }
        .btn:hover{
            background-color: rgb(250, 98, 78);
        }

        .center {
            text-align: center;

        }
        tr,td,th,table{
            border: 2px solid black;
        }
        /*       Anita dhanuk part*/
       .about-section{
        padding: 50px;
        text-align: center;
        color: black;
        line-height: 2;
       
      
       }
       .contact-section{
        padding: 50px;
        text-align: left;
        color: black;
        line-height: 2;
        height: 660px;
        

       }
       .row{
        float: left;
        padding: 5px;
       }
       .main{
        width: 45%;
        height: 117vh;
        display: flex;
        justify-content: end;
       }
       form{
        
        display: flex;
        flex-direction: column;
        padding: 1vw 3vw;
        height: 385px;
        width: 50%;
        max-width: 600px;
        border-radius: 10px;
        background-color: lightblue;
       }
       .form_submit{
           display: flex;
       }
       form input,form textarea{
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background: white;
        font-size: 16px;
       }
       #sub{
        padding: 15px;
        background: orange;
        color: white;
        font-size: 18px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;
        border-radius: 30px;
        transition: background 0.5s;

       }
       #sub:hover{
        background-color: brown;
       }

       #message,#name,#email,#gadget{
            border-radius: 10px;
       }
    